.flex {display: flex}
.flex-1-1-0 {flex: 1 1 0}
.flex-0-0-auto {flex: 0 0 auto}
.column {flex-direction: column}
.gap-1 {gap: 3.2rem}
.gap-2 {gap: 1.6rem}
.align-center {align-items: center;}
.text-center {text-align: center;}
.relative {position: relative;}
.absolute {position: absolute;}
.bottom {bottom:0;}
.left {left: 0;}
.right {right: 0;}
.object-cover {object-fit: cover;}
.w-full {width: 100%}
.font-medium {font-weight: 500;}

/* Buttons */
[class^="button-"] {
  border: none;
  border-radius: 999rem;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-weight: 500;
  letter-spacing: .04em;
}

.button-primary {
  background-color: var(--on-surface);
  color: var(--surface);
  &:active {
    background-color: color-mix(in srgb, var(--on-surface), black 50%);
  }
}

.button-lame {
  background-color: transparent;
  color: var(--on-surface);
}

.input-wrap {
  position: relative;
  :where(label) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--surface);
    margin-left: 1rem;
    padding: 0 .5em;
    font-size: 1.2rem;
  }
}

.text-input,
.input-wrap :where(input, select) {
  line-height: 1.5;
  display: flex;
  padding: 1.6rem;
  background-color: var(--surface);
  color: #42484F;
  border: .1rem solid #79747E;
  border-radius: .4rem;
  outline: none;
  width: 100%;
}

.input-wrap :where(select) {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48'%3E%3Cpath d='m19 22 5 5 5-5H19Z' fill='%2342484F'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 4.8rem;
}

/* Typography */
.headline-1 {
  font-size: 3.2rem;
  line-height: 1.25;
}
